{% extends "base.html" %}

{% block title %} Tralala! Hier wird nicht gejodelt! {% endblock %}

{% block body %}

{% if error_message %}
{{ error_message }}
{% else %}

{% for post in post_list %}
{{ post|safe }}
{% endfor %}

{% endif %}

<!--
<div class="red">
    <div id="usr">FooBar</div>
    <p>Willkommen zu Tralala!</p>
    <div id="upvote">+</div>
    <div id="downvote">-</div>
</div>

<div class="blue">
    <div id="usr">F00Baz</div>
    <p>Hier wird nicht gejodelt, hier wird getraellert!</p>
    <div id="upvote">+</div>
    <div id="downvote">-</div>
</div>

<div class="green">
    <div id="usr">Foo</div>
    <p>Be Excellent to Each Other!</p>
    <div id="upvote">+</div>
    <div id="downvote">-</div>
</div>

<div class="yellow">
    <div id="usr">Bar</div>
    <p>enjoy your stay</p>
    <div id="upvote">+</div>
    <div id="downvote">-</div>
</div>

-->

{% endblock %}


